{% extends "base.html.twig" %}

{% block title %}Find the Weather with PHP{% endblock %}
{% block h1 %}Find the Weather with PHP{% endblock %}

{% block content %}
    {% if error is not empty  %}
        <div class="p-2 pl-4 mb-2 flex flex-row bg-red-100 text-red-900 rounded-full">
            <img src="/img/form-icons/warning-32.png"
                 alt="warning icon"
                 class="mr-3">
            <span class="pt-1">{{ error|first }}</span>
        </div>
    {% endif %}
    {% include 'search-form.html.twig' %}
    <hr class="w-48 h-1 mx-auto my-12 bg-gray-200 border-0 rounded md:my-5 md:mb-5 dark:bg-gray-700">
    <div id="weather-report"
         class="mt-5 py-5 p-4 bg-white border-2 border-slate-200 drop-shadow-md shadow-md rounded-md">
        <div class="flex flex-row gap-28 ml-2">
            <div class="grow justify-end">
                <h2 class="text-5xl font-bold mb-0 tracking-normal">
                    <span>{{ data.weather.city.name }}</span><br>
                    <div class="text-sm font-normal -mt-1 text-slate-400">
                        {{ data.weather.city.country }}
                        ({{ data.weather.city.timezone.getName() }})
                    </div>
                </h2>
                <div class="flex flex-row gap-5">
                    <h3 class="text-9xl font-bold flex flex-row mb-2">
                        <span title="{{ data.weather.temperature.getValue() }}">
                            {{ data.weather.temperature.getValue() | round }}
                        </span>
                        <span id="temp-measurement" class="-ml-1 pb-3">
                            {{ data.weather.temperature.getUnit() }}
                        </span>
                    </h3>
                </div>
                <div class="text-3xl ml-1 -mt-8 italic text-slate-700">
                    {{ data.weather.weather.description }}
                </div>
            </div>
            <div id="weather-icon" class="p-4 pt-0 min-w-fit">
                <picture>
                    <source srcset="/img/weather-icons/{{ getWeatherIcon(data.weather.weather.id) }}.avif" type="image/avif" />
                    <img src="/img/weather-icons/{{ getWeatherIcon(data.weather.weather.id) }}.png"
                         alt="{{ getWeatherIcon(data.weather.weather.id) }} icon"
                         class="w-52">
                </picture>
            </div>
        </div>
        <div id="data-display" class="mt-2">
            <div class="grid grid-cols-2 text-slate-700">
                <div id="wind-speed"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2 shadow-sm drop-shadow-sm">
                    <div class="w-full text-center text-slate-300">wind speed</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                         style="background: center no-repeat url('/img/data-display-icons/wind-o5.png');"
                    >
                        <span class="inline-block w-full">
                            {{ data.weather.wind.speed.value }}
                            {{ data.weather.wind.speed.unit }}<br>
                            {{ data.weather.wind.direction.unit }}
                        </span>
                    </div>
                </div>
                <div id="humidity"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2 shadow-sm drop-shadow-sm">
                    <div class="w-full text-center text-slate-300">humidity</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                         style="background: center no-repeat url('/img/data-display-icons/cloud-o5.png');"
                    >
                        {{ data.weather.humidity.value }}{{ data.weather.humidity.unit }}
                    </div>
                </div>
                <div id="uv-index"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2 shadow-sm drop-shadow-sm">
                    <div class="w-full text-center text-slate-300">UV index</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                         style="background: center no-repeat url('/img/data-display-icons/sun-o5.png');"
                    >{{ data.uv.uvIndex }}</div>
                </div>
                <div id="sunrise-sunset"
                     class="grid grid-cols-2 gap-4 p-2 py-3 border-2 border-slate-200 rounded-lg bg-slate-50 m-2 shadow-sm drop-shadow-sm">
                    <div class="text-slate-300 m-2 flex flex-col text-lg justify-center align-middle text-center p-4">sunrise</div>
                    <div class="text-2xl h-12 m-2 flex flex-col justify-center align-middle text-center p-4"
                         style="background: center no-repeat url('/img/data-display-icons/sunrise-w64-o15.png');"
                    >{{ data.weather.sun.set.format('H:i') }}</div>
                    <div class="text-2xl h-12 m-2 flex flex-col justify-center align-middle text-center p-4"
                         style="background: center no-repeat url('/img/data-display-icons/sunset-w64-o15.png');"
                    >{{ data.weather.sun.rise.format('H:i') }}</div>
                    <div class="text-slate-300 m-2 flex flex-col text-lg justify-center align-middle text-center p-4">sunset</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
